[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-model-utils = "*"
pillow = "*"
django-heroku = "*"
django-environ = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-s3direct = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
