{% extends "base.html" %}

{% block title %}product classes{% endblock title %}

{% block content %}
	<section class="text-center">
		<div class="container pt-3 bg-klanad-light-grey"">
			<h1 class="jumbotron-header">{{ welcome_title }}</h1>
			<p class="lead text-muted pb-3">{{ welcome_message }}</p>
		</div>
	</section>
		{% for container in containers %}
		<div class="container text-center bg-klanad-light-grey">
			<div class="pt-2">
				<h3>{{ container.title }}</h3>
			</div>
			<div class="row">
				{% for group in container.productgroup_set.all %}
					<div class="col-sm-4">
						<a href="{% url 'group' group.id %}">
							<div class="card mb-1">
								<div class="card-body">
									<h6>{{ group.title }}</h6>
									<div class="card-body h-100">
										<img src="{{ group.productgroupimage_set.all.0.image.url }}" alt="product image"
											 class="card-img-top img-fluid rounded img-responsive">
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
{% endblock content %}
