{% extends "base.html" %}

{% block title %}product groups{% endblock title %}

{% block content %}
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-header">Welcome to Klanad - Karel Lansu Advice.</h1>
			<p class="lead text-muted">{% lorem 3 p %}</p>
		</div>
	</section>
	<div class="py-5 bg-light">
		<div class="container">
			<div class="row">
				{% for group in groups %}
					<div class="col-md-4">
						<div class="card mb-5 shadow-sm">
							<div class="card-body text-center">
								<h3>{{ group.title }}</h3>
								<div class="card-body h-100 text-center">
									<img src="{{ group.productgroupimage_set.all.0.image.url }}" alt="product image"
										 class="card-img-top img-fluid">
								</div>
								<div class="text-center">
									<a class="btn btn-primary" role="button" href="{% url 'group' group.id %}">View</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
