{% extends "base.html" %}

{% block title %}{{ group.title }}{% endblock title %}

{% block content %}
	<section class="jumbotron text-center bg-klanad-light-grey">
		<div class="container">">
		<div class="container">
			<h1 class="jumbotron-header">{{ group.title }}</h1>
			<img class="img-fluid rounded" src="{{ group.productgroupimage_set.all.0.image.url }}" alt="image of a
			group">
			<p class="lead text-muted">{{ group.description|linebreaks }}</p>
		</div>
	</section>
	<div class="py-5 bg-light">
		<div class="container">
			<div class="row">
				{% for product in group.product_set.all %}
					<div class="col-md-4">
						<div class="card mb-5 shadow-sm">
							<div class="card-body h-100 text-center">
								<img src="{{ product.productimage_set.all.0.image.url }}" alt="product image"
									 class="card-img-top img-fluid rounded">
							</div>
							<div class="card-body text-center">
								<p class="card-text">
									<h6>{{ product.title }}</h6>
									{{ product.description }}
								</p>
								<a class="btn btn-klanad-orange" role="button" href="{% url 'product' product.id %}">View</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
