{% extends "base.html" %}

{% block title %}{{ product.title }}{% endblock title %}

{% block content %}
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-header">{{ product.title }}</h1>
			<img class="img-fluid rounded" src="{{ product.productimage_set.all.0.image.url }}" alt="image of a product">
			<p class="lead text-muted">{{ product.description|linebreaks }}</p>
		</div>
	</section>
	{% if product.productimage_set.count > 2 %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="row">
				{% for productimage in product.productimage_set.all %}
					<div class="col-md-4">
						<div class="card mb-5 shadow-sm">
							<div class="card-body h-100 text-center">
								<img class="img-fluid rounded" src="{{ productimage.image.url }}" alt="image of a
								product">
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
{% endblock content %}
