{% extends "base.html" %}

{% block title %}products{% endblock title %}

{% block content %}
	<div class="py-5 bg-light">
		<div class="container">
			<div class="row">
				{% for product in products %}
					<div class="col-md-4">
						<div class="card mb-5 shadow-sm">
							<div class="card-body h-100 text-center">
								<img src="{{ product.productimage_set.all.0.image.url }}" alt="product image"
									 class="card-img-top img-fluid rounded">
							</div>
							<div class="card-body">
								<p class="card-text">
									{{ product.description }}
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a href="{% url 'product' product.id %}">View</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
